/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6, .ql-header [data-value] {
  font-family: 'Lato', sans-serif;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

#root>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-credentials-form {
  margin-top: 50px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #DDD;
  display: flex;
  flex-direction: column;
}

.user-credentials-form form, .user-credentials-form label {
  display: flex;
  flex-direction: column;
}

.user-credentials-form h2 {
  align-self: center;
}

.user-credentials-form * {
  margin: 5px;
}

.user-credentials-form input {
  break-before: always;
  margin: 0;
  margin-top: 2px;
  padding: 3px;
  width: auto;
}

.user-credentials-form input[type=submit] {
  width: auto;
  align-self: center;
}

header {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25em;
}

header>div {
  height: inherit;
  display: flex;
  align-items: center;
}

.communique-img {
  display: inline-block;
  background: image-url('communique.svg');
  width: 17px;
  height: 24px;
  background-size: contain;
  margin-right: 5px;
}

.separator::before, .separator::after {
  content: "\00a0"; /* nbsp */
}

/*.user-credentials-form input:before {
  content: "\A";
  white-space: pre;
}*/
