/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

.follow-button {
  display: inline-block;
  width: fit-content;
  height: 20px;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.1s all linear;
}

.posts-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.follow-button.followed {
  background: #555;
  color: white;
}

.author-info {
  width: 100%;
  max-width: 70%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.post-info {
  width: 45%;
  height: 250px;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #AAA;
}

.post-info p {
  color: #888;
}

.post-info-hero-container {
  width: 35%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.post-info-hero-container div {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

// .post-info-

.author-info-small {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.author-info-small .user-avatar-container {
  margin: 5px;
}

.user-link, .post-info a {
  color: inherit;
  text-decoration: none;
}

.author-info .user-avatar-container {
  margin: 15px;
}

.post-info-text {
  width: 65%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.post-info-text>*, .post-info-text>:first-child * {
  margin: 3px 0;
}

.post-info-text>:last-child {
  align-self: flex-end;
}

.author-info .text-info, .author-info-small .text-info {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.author-info .text-info {
  justify-content: space-between;
}

.author-info-small .text-info {
  justify-content: space-around;
}

.author-info-small .text-info span {
  color: #888;
  // margin:
}

.author-info .text-info span, .author-info-small .text-info span {
  font-size: 0.8em;
  color: #888;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author-info-small .text-info span:first-child {
  color: inherit;
}

.author-info .text-info span:first-child {
  font-size: 1em;
  color: inherit;
}


.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.user-avatar-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}

.user-avatar-container.user-avatar-container-large {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.hero-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

div.dashed-border {
  box-sizing: border-box;
  border: 4px dashed #999;
}

p.dashed-border {
  box-sizing: border-box;
  border: 1px dashed #999;
}

.faded {
  color: #888;
  font-style: italic;
}

.hero-image-container *, .user-avatar-container * {
  margin: auto;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}

.hero-image-container img, .user-avatar-container img {
  max-width: 100%;
}

.hero-image-container div, .user-avatar-container div {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5%;
}

.hero-image-container:hover div, .user-avatar-container:hover div {
  z-index: 5;
}

*, .modal-container h2, .landing *, .user-page h1, .post-info h2 {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .ql-header [data-value], header h1 a {
  font-family: 'Lora', serif;
}

h1[contenteditable] {
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

h1[contenteditable]:empty::after {
  content: "Title";
  color: #777;
}

.user-page p {
  width: 50%;
}

.user-page p[contenteditable]:empty::after {
  content: "Tell the world about yourself.";
  color: #777;
}

.errors {
  width: 300px;
  background: coral;
  border: 3px solid crimson;
}

.comments {
  padding: 5px 0;
}

.comments ul {
  padding: 0;
}

.comment-form b {
  display: inline-block;
  padding-bottom: 5px;
}

.errors li, .comments li {
  list-style: none;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

.modal {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  z-index: 15;
  background: white;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.3);
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  position: absolute;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
}

.modal-container * {
  margin: 5px;
}

.modal-container h2 {
  margin-top: 15px;
}

.modal-container>:last-child {
  margin-bottom: 15px;
}

input[type=text], input[type=password], input[type=email], textarea {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  font-size: 1em;
  resize: none;
}

.post-form, .post {
  width: 100%;
  max-width: 700px;
}

.post-form textarea {
  width: 100%;
}

button, input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid limegreen;
  color: limegreen;
  background: none;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-container form, .modal-container label {
  display: flex;
  flex-direction: column;
}

.modal-small {
  transform: scale(0.3);
  transform-origin: bottom;
}

#root>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quill {
  margin-bottom: 4px;
}

header {
  margin: 5px 0;
  width: 100%;
  position: relative;
  font-size: 1.25em;
}

header>div {
  height: inherit;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header>:first-child {
  left: 0;
}

header>h1 {
  height: inherit;
  text-align: center;
}

header h1 a {
  color: black;
}


header>:last-child {
  right: 0;
}

header a {
  text-decoration: none;
}

header>:last-child a {
  color: limegreen;
}

.landing {
  text-align: center;
}

.landing p {
  font-size: 1.5em;
}

.communique-img-large {
  background: image-url('communique.svg') no-repeat;
  background-size: contain;
  margin: 20px auto;
  width: 70px;
  height: 100px;
}

#loading-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading {
  background: image-url('loading.svg');
  z-index: 20;
  width: 64px;
  height: 64px;
}

.hidden {
  display: none !important;
}

.separator::before, .separator::after {
  content: "\00a0"; /* nbsp */
}

.tags {
  padding: 0;
  white-space: pre-line;
}

.tags li {
  white-space: normal;
  display: inline-block;
  padding: 3px;
  margin: 3px;
  width: auto;
  list-style: none;
  background: #AAA;
  border-radius: 5px;
  line-break: strict;
}

.tags li i {
  margin-right: 3px;
}

.pointer {
  cursor: pointer;
}

.small {
  font-size: 0.8em;
}

/*.user-credentials-form input:before {
  content: "\A";
  white-space: pre;
}*/
